header {
  height: 70px;
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e8eaf0ff;
  padding: 0 10px;
}
header .buttn {
  display: inline-flex;
  align-items: center;
}
header .buttn li {
  margin: 0 10px;
  cursor: pointer;
  padding: 6px 4px;
  border: 1px solid #fff;
  color: #63646dff;
  font-weight: bold;
  text-transform: capitalize;
}
header .buttn li:hover {
  background-color: #f5f8ffff;
  border: 1px solid #e0f3f9f0;
  border-radius: 5px;
  color: #093e92;
}
header .user-info {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
header .user-info .user-name {
  color: #63646dff;
  text-transform: capitalize;
}
header .user-info .user-name:hover {
  text-shadow: #b7b9be 1px 0 1px;
}
header .user-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  margin-right: 15px;
  cursor: pointer;
}
header .user-info .drop-btn {
  width: 30px;
  height: auto;
  margin: 0 10px;
  cursor: pointer;
}
header .user-info .drop-btn:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(130, 167, 241, 0.25) inset;
}
header .user-info .drop-menu {
  position: absolute;
  background-color: #f5f8ffff;
  top: 72px;
  right: 5px;
  padding: 10px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
header .user-info .drop-menu.active {
  visibility: visible;
  opacity: 1;
}
header .user-info .drop-menu li {
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid #e0f3f9f0;
  text-transform: capitalize;
  color: #63646dff;
  text-align: right;
}
header .user-info .drop-menu li:hover {
  text-shadow: #b7b9be 1px 0 1px;
  background-color: #f5f8ffff;
}
header .user-info .drop-menu li:last-child {
  border: none;
}
